# NFT Mint Sweetspot


___
## Introduction

## Methodology

In [1]:
import requests
import json
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
magiceden_df = pd.read_json('magiceden_cleaned.json')
magiceden_df.head()

,symbol,floor_price,trading_volume,mint
0,sol_chocked_man,0.400,1.200000,CR2rcWaHWJgcMSzdewSs7S6QLryJZnt5eMQHQf9mQULS
1,_peguimonkey,0.380,27.740000,ByX4fiQNFjeHiL9xCXaee39XhWeptC5zWxdwvHCcqC8b
2,soa,1.700,0.000000,GTVeFkLD5bjfY1imyEkkhcSTocKE1Vnkxc4gC2T8JUbs
3,asciipunk,0.027,15.334369,H68LSpMfzHsAvwUistfeGXhCN3xfqpyMrq2BodEYuXrJ
4,koala_solana,0.100,1.389000,DeRtQA4dxGJPP3w83vw5VsB7NZjLxBGTXgWSsKK6FXnj

In [12]:
mint_prices1 = pd.read_csv('download.csv')
mint_prices2 = pd.read_csv('download(1).csv')
mint_prices3 = pd.read_csv('download(2).csv')
mint_prices4 = pd.read_csv('download(3).csv')
mint_prices5 = pd.read_csv('download(4).csv')

mint_prices = pd.concat([mint_prices1,mint_prices2,mint_prices3,mint_prices4,mint_prices5])
mint_prices.rename(columns={
    'MINT':'mint',
    'MINT_PRICE':'mint_price'
}, inplace=True)
mint_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4033 entries, 0 to 58
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mint        4033 non-null   object
 1   mint_price  4033 non-null   float64
dtypes: float64(1), object(1)
memory usage: 94.5+ KB

In [13]:
df = pd.merge(magiceden_df, mint_prices, how='inner', on='mint').reset_index()
df.head()

,index,symbol,floor_price,trading_volume,mint,mint_price
0,0,sol_chocked_man,0.4,1.200,CR2rcWaHWJgcMSzdewSs7S6QLryJZnt5eMQHQf9mQULS,0.091470
1,1,soa,1.7,0.000,GTVeFkLD5bjfY1imyEkkhcSTocKE1Vnkxc4gC2T8JUbs,1.008470
2,2,koala_solana,0.1,1.389,DeRtQA4dxGJPP3w83vw5VsB7NZjLxBGTXgWSsKK6FXnj,0.057345
3,3,quokkaqommunity,0.9,0.000,4tHqQmH7uPPMLowgQvw63dwMUikyxuwx9w6dS6qCRwCo,0.508470
4,4,founders_of_solana,0.4,4.250,4UhgpZtyn3AG7C7av6nTuNV4jVuMA5RGJf9QS5v6r6Lh,0.338470